<h1>Add an ETL Datasource</h1>
<span class="help-block">Use this page to create a ETL process for a unique data source</span>
<!-- found this for making some fields conditional https://github.com/OliverJAsh/FormAccordion -->

<br>
<br>
<br>
<form role="form" action='/datasource/complete' method='post' class="form-inline well">

	<div class="form-group">
		<span class="help-block">You will select a unique name, and then a parent folder, which will concatenated to provide an input folder for your source data</span>
		<br>
		<br>
		<label for="uniqueName">Unique Datasource Name</label>
		<span class="help-block">Select a unique one word name for this one datasource only</span>
		<input type="text" class="form-control" id="uniqueName"  name="uniqueName" placeholder="perfectlyunique">
	</div>
	<br>
	<div class="form-group">
		<label for="inputParentFolder">Input Parent Folder</label>
		<span class="help-block">Select a parent folder to be concatenated with the Unique Datasource Name above. The combined folder path will be polled every 60 seconds and the file scooped up, if found. </span>
		<input type="text" class="form-control" id="inputParentFolder"  name="inputParentFolder" placeholder="/my/parent/folder">
	</div>
	<br>
	<br>
	<br>
	<label class="control-label" for="targetDataType">Select Target Data Type</label>
	<span class="help-block"><small>[Diasbled options may be added as market demands]</small></span>
	<select class="form-control" id = "targetDataType"  name="targetDataType">
		<option value="1">Hadoop Hive Table</option>
		<option value="2" disabled="true">Google Big Table</option>
		<option value="3" disabled="true">Amazon Dynamo DB</option>
		<option value="4" disabled="true">Cassandra</option>
		<option value="4" disabled="true">Couchbase</option>
		<option value="5" disabled="true">DreamObjects</option>
	</select>
	<br>
	<br>
	<br>
	<label class="control-label" for="dateFieldSource">Select Date Field Type</label>
	<span class="help-block">Data is typically date partitioned when, or a date field is added, in big data use cases</span>
	<span class="help-block"><small>[Diasbled options may be added as market demands]</small></span>
	<select class="form-control" name = "dateFieldSource">
		<option value="1">None, not enough data expected to require date partition</option>
		<option value="2">Use yyyymmdd found in the file name</option>
		<option value="3">Use current date</option>
		<option value="3">Use date from a field named below</option>
		<option value="4" disabled="true">Use current year plus mmdd found in file name</option>
		<option value="5" disabled="true">Use yesterday's date</option>
		<option value="6" disabled="true">Other [specify below]</option>
	</select>
	<br>
	<br>
	<br>
	<label class="control-label" for="schemaData">Select Schema/Data Combination</label>
	<span class="help-block">There are many more possible schema/data combinations thans the ones shown below</span>
	<span class="help-block"><small>[Diasbled options may be added as market demands]</small></span>
	<span class="help-block">If yours is not mentioned below, you would have to hand convert it to one of these below to use current automation</span>
	<select class="form-control" id = "schemaData" name="schemaData">
		<option value="1">Delimited flat file always includes column headers as first row</option>
		<option value="2">Delimited flat file always includes avro schema as first row</option>
		<option value="3">Delimited flat file with separate avro schema file uploaded here</option>
		<option value="4">Delimited flat file always includes column headers as first row, with separate avro schema file uploaded once here, to validate against</option>
		<option value="5" disabled="true">Delimited column headers file delivered every time, with delimited flat file for data, each named separately</option>
		<option value="6" disabled="true">Delimited column headers file selected with this UI, with delimited flat file for data, each named separately</option>
		<option value="7" disabled="true">One time avro schema selected with this UI, delimited flat file for data</option>
		<option value="8" disabled="true">One time avro schema selected with this UI, json data file for data</option>
		<option value="9" disabled="true">Xml schema selected with this UI, xml data file for data</option>
		<option value="0" disabled="true">Pasted column headers for schema, delimited flat file for data</option>
	</select>
	<br>
	<br>
	<br>
	<div class="form-group">
		<label for="exampleInputFile">Test Data File</label>
		<span class="help-block">Paste in the exact full path to the sample test data file.</span>
		<input type="text" class="form-control" id="exampleInputFile"  name="exampleInputFile" placeholder="/Users/petecarapetyan/work/etlsource/testdata/testFile1.csv">
	</div>
	<br>
	<br>
	<br>
	<div class="checkbox">
		<label>
			<input type="checkbox" id="recordValidation" name="recordValidation">
			If a record fails validate against schema, should the entire import be scrapped? Or continue to next record? </label>
	</div>
	<br>
	<br>
	<span class="help-block">Please check all answers for completion before submiting. This is not a robust app.
		<br/>
		If you have empty fields it will clear every field and make you redo all answeres</span>
	<button type="submit"  class="btn-default">
		Submit
	</button>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<span class="help-block">Everything below is a no-op, and left here only to remind me to enable it later</span>
	<div class="checkbox">
		<label>
			<input type="checkbox" id="hasMd5"  name="hasMd5">
			Is an md5 of the same filename + ".md5" to be provided with each data file, to be checked against? </label>
	</div>
	<div class="checkbox">
		<label>
			<input type="checkbox" id="otherPartitions"  name="otherPartitions">
			Are there other partitions to be extracted and added to this process? </label>
	</div>
	<div class="checkbox">
		<label>
			<input type="checkbox" id="isArchived" name="isArchived">
			Is input file to be archived for re-running later in case of a data loss? </label>
	</div>
</form>