<h1>Additional Information Is Required For Hadoop</h1>
<form role="form" action='/datasource/complete' method='post' class="form-inline well">
	<br>
	<br>
	<div class="form-group">
		<label for="tableName">Table Name</label>
		<input type="text" class="form-control" id="tableName"  name="tableName" placeholder="test1">
	</div>
	<br>
	<br>
	<br>
	<div class="form-group">
		<label for="ftpTargetDir">Ftp Target Dir - moves here on hadoop server prior to loading into HDFS</label>
		<input type="text" class="form-control" id="ftpTargetDir"  name="ftpTargetDir" value="my/ftpdir">
	</div>
	<br>
	<br>
	<br>
	<div class="form-group">
		<label for="hdfsDir">HDFS Dir</label>
		<input type="text" class="form-control" id="hdfsDir"  name="hdfsDir" value="my/hdfsdir">
	</div>
	<br>
	<br>
	<br>
	<div class="form-group">
		<label for="hiveDb">Hadoop Db</label>
		<input type="text" class="form-control" id="hiveDb"  name="hiveDb" value="default">
	</div>
	<br>
	<br>
	<br>
	<div class="form-group">
		<label for="hadoopVmSshIpAddress">Hadoop VM ip address</label>
		<span class="help-block">192.168.2.63 for cloudera, 127.0.0.1 for hortonworks</span>
		<input type="text" class="form-control" id="hadoopVmSshIpAddress"  name="hadoopVmSshIpAddress" value="127.0.0.1">
	</div>
	<br>
	<br>
	<br>
	<div class="form-group">
		<label for="hadoopVmUserName">Hadoop User Name</label>
		<span class="help-block">cloudera for cloudera, root for hortonworks</span>
		<input type="text" class="form-control" id="hadoopVmUserName"  name="hadoopVmUserName" value="root">
	</div>
	<br>
	<br>
	<br>
	<div class="form-group">
		<label for="hadoopVmPassword">Hadoop VM password</label>
		<input type="text" class="form-control" id="hadoopVmPassword"  name="hadoopVmPassword" value="hadoop">
	</div>
	<br>
	<br>
	<br>
	<div class="form-group">
		<label for="sshPort">SSH Port</label>
		<span class="help-block">SSH Port for Hadoop Server - example cloudera 22, hortomworks 2222</span>
		<input type="text" class="form-control" id="sshPort"  name="sshPort" value="22">
	</div>
	<br>
	<br>
	<br>
  <input class="btn-default" type='submit' value='Submit'>	
</form>