<h1>Additional Information Is Required For Hadoop</h1>
<form role="form" action='/datasource/complete' method='post' class="form-inline well">
	<br>
	<br>
	<div class="form-group">
		<label for="tableName">Table Name</label>
		<input type="text" class="form-control" id="tableName"  name="tableName" placeholder="my_table_name">
	</div>
	<br>
	<br>
	<br>
	<div class="form-group">
		<label for="hdfsDir">HDFS Dir</label>
		<input type="text" class="form-control" id="hdfsDir"  name="hdfsDir" placeholder="/foo/bar/my/dir">
	</div>
	<br>
	<br>
	<br>
	<div class="form-group">
		<label for="hadoopVmSshIpAddress">HDFS Dir</label>
		<input type="text" class="form-control" id="hadoopVmSshIpAddress"  name="hadoopVmSshIpAddress" placeholder="192.168.2.63">
	</div>
	<br>
	<br>
	<br>
	<div class="form-group">
		<label for="hadoopVmRootPassword">HDFS Dir</label>
		<input type="text" class="form-control" id="hadoopVmRootPassword"  name="hadoopVmRootPassword" placeholder="cloudera for cloudera, hadoop for hortonworks">
	</div>
	<br>
	<br>
	<br>
  <input class="btn primary" type='submit' value='Submit'>	
</form>