<h1>Additional Information Is Required For Hadoop</h1>
<form role="form" action='/datasource/complete' method='post' class="form-inline well">
	<br>
	<br>
	<div class="form-group">
		<label for="tableName">Table Name</label>
		<input type="text" class="form-control" id="tableName"  name="tableName" placeholder="test1">
	</div>
	<br>
	<br>
	<br>
	<div class="form-group">
		<label for="hdfsDir">HDFS Dir</label>
		<input type="text" class="form-control" id="hdfsDir"  name="hdfsDir" placeholder="/my/dir">
	</div>
	<br>
	<br>
	<br>
	<div class="form-group">
		<label for="hiveDb">Hadoop Db</label>
		<input type="text" class="form-control" id="hiveDb"  name="hiveDb" placeholder="default">
	</div>
	<br>
	<br>
	<br>
	<div class="form-group">
		<label for="hadoopVmSshIpAddress">Hadoop VM ip address</label>
		<input type="text" class="form-control" id="hadoopVmSshIpAddress"  name="hadoopVmSshIpAddress" placeholder="192.168.2.63 for cloudera?, 127.0.0.1 for hortonworks?">
	</div>
	<br>
	<br>
	<br>
	<div class="form-group">
		<label for="hadoopVmUserName">Hadoop User Name</label>
		<input type="text" class="form-control" id="hadoopVmUserName"  name="hadoopVmUserName" placeholder="cloudera for cloudera, root for hortonworks??">
	</div>
	<br>
	<br>
	<br>
	<div class="form-group">
		<label for="hadoopVmPassword">Hadoop VM password</label>
		<input type="text" class="form-control" id="hadoopVmPassword"  name="hadoopVmPassword" placeholder="cloudera for cloudera, hadoop for hortonworks">
	</div>
	<br>
	<br>
	<br>
  <input class="btn-default" type='submit' value='Submit'>	
</form>