<form action='/login/attempt' method='post' class="form-inline well">
  <input type="text" name='username' placeholder="username" autofocus>
  <input class="btn primary" type='submit' value='log in'>
</form>
<!--http://jaxenter.com/java-ee-7-introduction-to-batch-jsr-352-47400.html-->
