<h1>Additional Information Is Required For Avro Schema and JSON Data File</h1>
<form role="form" action='/datasource/complete' method='post' class="form-inline well">
	<br>
	<br>
	<div class="form-group">
		<label for="colHeadFileName">One Time File Path For Avro Schema File</label>
		<input type="text" class="form-control" id="colHeadFileName"  name="colHeadFileName" placeholder="/foo/bar/wah/doo/fooyada.avsc">
	</div>
	<br>
	<br>
	<br>
	<div class="form-group">
		<label for="dataInputFileName">Name of JSON Data File if Different Than Input File</label>
		<input type="text" class="form-control" id="dataInputFileName"  name="dataInputFileName" placeholder="data.tsv">
	</div>
	<br>
	<br>
	<br>
  <input class="btn-default" type='submit' value='Submit'>	
</form>